
@font-face {
  font-family: 'VNF-Bodoni';
  src: url('VNF-Bodoni.eot?#iefix') format('embedded-opentype'),  url('VNF-Bodoni.woff') format('woff'), url('VNF-Bodoni.ttf') format('truetype'), url('VNF-Bodoni.svg#VNF-Bodoni') format('svg');
  font-weight: normal;
  font-style: normal;
}
